body {
	background-color: #f5f6f9;
}
#food_img{
	margin:0 auto;
	text-align:center;
	
}

.content_wrap {
	width: 1000px;
	height: 1500px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	padding: 100px;
	
}
#title{
	font-size:40px;
	}
#content_1{
	position:relative;
	float:left;
	width:30%;
}
.content_wrap p {
	text-align: center;
	line-height: 1;
}

.content_wrap .line {
	width: 150px;
	height: 5px;
	background-color: #FFE618;
}

.chk_wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom:10px;
	text-align: center;
	border-bottom: 1px solid #9F9F9F;
}

.chk_wrap * {
	width: 120px;
	height: 40px;
	margin: 8px;
}

.chk_wrap select:hover {
	border: 1px solid #FFE618;
}

.chk_wrap button {
	background-color: #FFE618;
	color: #333;
	font-weight: bold;
	font-size: 17px;
	border: none;
}

.chk_wrap button:hover {
	background-color: #111427;
	color: #FFE618;
}

.main_cont_wrap {
	padding-top: 100px;
	display: inline-block;
}

.main_cont_wrap a {
	text-decoration: none;
	color: #333;
	text-align: center;
}

.main_cont_wrap a:hover {
	color: peru;
}
#content2_img{
	position:relative;
	margin-bottom:10px;
	margin-top:10px;		
}
.content_wrap {
	font-weight: bold;
}

@media ( max-width : 1041px) {
	.content_wrap {
		width: 80%;
		height: 100%	}
	#food_img{
	margin-bottom:10px;
	}
	#btn{
	width:100%;
	}
	
	#content_1{
		
		display:none;
		
	}
	#content_2{
		display:"";		
	}
}
@media ( min-width : 1041px) {
	#content_1{
		
		display:"";		
	}
	#content_2{
		display:none;		
	}
}

@media ( max-width : 348px) {
	#title{
	font-size:25px;
	}
	.content_wrap .line{
	width:90px;
	}
	
}
